.bday-card {
  text-align: center;
  width: 100%;
  height: 26vh;
  padding: 1.25rem;
  background: url("/src/assets/balloons.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 26px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px;
}

.bday-card img {
  margin: auto;
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.bday-card h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
