.nook-card {
  width: 100%;
  height: 26vh;
  padding: 1.25rem;
  background-color: #fdfdf2;
  border-radius: 26px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px;
}

.feat-title {
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.5rem;
  font-weight: 700;
  align-items: center;
}

.feat-title > img {
  width: auto;
}

.feat-title > h3 {
  padding-left: 1rem;
}
