.visitor-card {
  width: 100%;
  height: 100%;
  background-color: #fdfdf2;
  border-radius: 26px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px;
}

.visitor-wrapper {
  width: 100%;
  border-radius: 26px;
  background-color: #ceeae2;
  padding: 1.25rem;
}

.visitor-wrapper > img {
  float: left;
}
.visitor-title {
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.5rem;
  font-weight: 700;
  align-items: left;
  padding-left: 1rem;
}
.visitor-title > h3 {
  font-size: 1.5rem;
  font-family: "fira-sans", sans-serif;
  font-weight: 400;
  margin-top: -1rem;
  color: #9da7a7;
}
.visitor-title > h1 {
  font-size: 4rem;
  letter-spacing: -3px;
  word-spacing: -20px;
  text-transform: uppercase;
  color: #f8c541;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #f1f1f1;
}

hr {
  width: 100%;
  margin: 0 auto;
  border: 2px solid #fdfdf2;
}
