@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "courier-prime", monospace;
  line-height: 1.5;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background: url("assets/villagers_wall.png"), rgba(240, 253, 251, 100);
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0 0 0 100vh rgba(240, 253, 251, 0.7);
}

body {
  position: relative;
  margin: 0 auto;
  min-width: 390px;
  min-height: 100vh;
}

.card-container {
  position: absolute;
  right: 0;
  width: 90vw;
  padding: 2rem;
  padding-left: 0rem;
  color: #384e53;
}
